streamlit
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
langsmith
groq
faiss-cpu
sentence-transformers
torch
transformers
huggingface_hub
python-dotenv
pandas
numpy
scikit-learn
sqlalchemy
pydantic
pydantic-settings
requests
PyYAML
altair
pyarrow
pillow
tenacity
